body {
  background: black;
}
p {
  color: forestgreen;
}
body {
  color:lime;
  font-family: monospace;
}
h2 {
  font-weight: bold;
  color: rgb(0,255,0);
  text-decoration: underline;
  text-align: center;
}
h4 {
  font-weight: bold;
  text-decoration-color: lime;
  text-decoration: underline;
  text-align: center;
}
  img {
    border-style: groove;
    border-color: rgb(0,255,0);
}
a {
  color: lime
}
